:root {
    --color-scheme: dark;
    --background-color: #1a1a1a;
    --text-color: #e0e0e0;
    --title-color: #efefef;
    --link-color: #88aaff;
    --link-hover-color: #aaccff;
    --code-background: #2a2a2a;
    --code-color: #e6a0a7;
    --figcaption-color: #999;
    --blockquote-color: #999;
    --blockquote-border: #333;
    --table-border: #444;
    --table-alt-background: #2a2a2a;
    --header-link-color: #99f;
    --header-link-hover: #f99;
    --header-link-active: #4c4;
    --footer-background: #222;
    --date-color: #777;
    --horizontal-link-border: #444;
    --post-list-hover: #aaccff;
    --tag-link-color: #666;
    --tag-link-hover: #999;
    --paginator-disabled: #666;
    --current-page-color: #666;
    --location-color: #777;
    --location-border: #555;
}

@import 'monokai-dark';