:root {
    --color-scheme: light;
    --background-color: #f2f2f2;
    --text-color: #333333;
    --title-color: #000000;
    --link-color: #2200CC;
    --link-hover-color: #5544FF;
    --code-background: #f9f9f9;
    --code-color: #9E525A;
    --figcaption-color: #666;
    --blockquote-color: #666;
    --blockquote-border: #eee;
    --table-border: #ddd;
    --table-alt-background: #f8f8f8;
    --header-link-color: #77f;
    --header-link-hover: #f77;
    --header-link-active: #2a2;
    --footer-background: #e2e2e2;
    --date-color: #888;
    --horizontal-link-border: #ccc;
    --post-list-hover: #5544FF;
    --tag-link-color: #aaa;
    --tag-link-hover: #888;
    --paginator-disabled: #aaa;
    --current-page-color: #aaa;
    --location-color: #888;
    --location-border: #ccc;
  }

@import 'monokai-light'